<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>content</key>
			<string>37</string>
			<key>key</key>
			<string>temDay</string>
			<key>title</key>
			<string>最高温度</string>
		</dict>
		<dict>
			<key>content</key>
			<string>20</string>
			<key>key</key>
			<string>temNight</string>
			<key>title</key>
			<string>最低温度</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>content</key>
			<string>东南风</string>
			<key>key</key>
			<string>win</string>
			<key>title</key>
			<string>风向</string>
		</dict>
		<dict>
			<key>content</key>
			<string>3级</string>
			<key>key</key>
			<string>winSpeed</string>
			<key>title</key>
			<string>风力</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>content</key>
			<string>3km/h</string>
			<key>key</key>
			<string>winMeter</string>
			<key>title</key>
			<string>风速</string>
		</dict>
		<dict>
			<key>content</key>
			<string>70</string>
			<key>key</key>
			<string>air</string>
			<key>title</key>
			<string>空气质量</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>content</key>
			<string>999</string>
			<key>key</key>
			<string>pressure</string>
			<key>title</key>
			<string>气压</string>
		</dict>
		<dict>
			<key>content</key>
			<string>50%</string>
			<key>key</key>
			<string>humidity</string>
			<key>title</key>
			<string>湿度</string>
		</dict>
	</array>
</array>
</plist>
